@font-face {
  font-family: "MiSans Myanmar";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./MiSansMyanmar-Regular.woff2") format("woff2");
  unicode-range: U+1000-109F, U+AA60-AA7F, U+A9E0-A9FF;
}

@font-face {
  font-family: "MiSans Myanmar";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./MiSansMyanmar-Medium.woff2") format("woff2");
  unicode-range: U+1000-109F, U+AA60-AA7F, U+A9E0-A9FF;
}

@font-face {
  font-family: "MiSans Myanmar";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./MiSansMyanmar-Semibold.woff2") format("woff2");
  unicode-range: U+1000-109F, U+AA60-AA7F, U+A9E0-A9FF;
}

@font-face {
  font-family: "MiSans Myanmar";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./MiSansMyanmar-Bold.woff2") format("woff2");
  unicode-range: U+1000-109F, U+AA60-AA7F, U+A9E0-A9FF;
}
